@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

@layer utilities {
  .object-cover {
    width: auto;
    height: auto; 
  }

  .text-balance {
    text-wrap: balance;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.7s ease forwards;
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-fade-in-left {
    animation: fade-in-left 1.4s ease forwards;
  }

  @keyframes slide-down {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 200px;
        opacity: 1;
    }
}

  .slide-down {
      animation: slide-down 1s ease forwards;
      overflow: hidden; 
  }

@keyframes slide-up {
    from {
        max-height: 200px;
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}

  .slide-up {
      animation: slide-up 1s ease forwards;
      overflow: hidden;
  }

  @keyframes title-move-up {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(-40px);
    }
  }
  
  .animate-title-move-up {
    animation: title-move-up 1s ease forwards;
  }

  .gold-frame {
    border: 10px solid gold;
    border-image: linear-gradient(to bottom, #d4af37, #b8860b) 1;
    border-radius: 8px;
  }

  .shadow-lg {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.ambient-light-effect {
  position: relative;
  background: radial-gradient(circle, rgba(245, 245, 245, 0.9) 18%, rgba(245, 245, 245, 0) 50%);
}

.dark-mode {
  background-color: #121111;
  color: white;
}
  
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
